
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
 }
 nav
 {
   width: 100%;
   background: grey;
   font-family: black;
   font color: red;

 }
 ul
 {
   width: 80%
   margin: 0 auto;
   padding: 0;
 }
 ul li
 {
   list-style: none;
   display: inline-block;
   padding: 20px;
 }
ul li:hover
{
  background: #e91e63;
}
ul li a
{
  color: #fff
  text-decoration: none;
}

.center{
  text-align: center;
}
