{
margin: 0px;
padding: 0px;
font-family: sans-serif;;

}

nav{
  width: 100%;
  font-family: black;
  font color: red;

}

ul
{
  width: 80%
  margin: 0 auto;
  padding: 0;
}
ul li
{
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.top-right{
  text-align: right;
  border: 1px;
  width:49.5%;
  display:inline-block;
}

.top-left{
 border: 1px
 solid black;
 width:40.5%;
 display:inline-block;

}

ul li:hover {
  background-color: blue;
}

.Stocks{
  height: 20%;
}
.search{
  padding: 15px;
  padding-left: 0px;
}
